<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <layout class="ch.qos.logback.classic.PatternLayout">
		<Pattern>
			%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
		</Pattern>
	    </layout>
	</appender>
	<appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
		<file>D:/Code/logs/Spring4Rest-Application_properties.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{MM:dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - %msg%n
			</Pattern>
		</encoder>
	</appender>
	<!-- Logging spring package -->
	<logger name="org.springframework" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FileAppender"></appender-ref>
	</logger>
<!-- Logging custom package -->
	<logger name="net.viralpatel.spring" level="debug" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FileAppender"></appender-ref>
	</logger> 
	 
	<root level="error">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FileAppender"></appender-ref>
	</root>

</configuration>